body {
  background-color: #DDCFBF;
}

.card {
  border: 1px solid #887766;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px #887766;
  background-color: #FFEEDD;
}

.card.active {
  box-shadow: 0px 0px 20px #887766;
}

.card h1:first-of-type {
  margin-top: 0px;
}

.card .toolbar {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.card .toolbar:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.card .toolbar:hover {
  background-color: #E6D6C6;
  border-radius: 5px 5px 0px 0px;
}

.board-name {
  margin-left: 1em;
  color: #BBAA99;
  font-family: serif;
}

.board {
  border-radius: 5px;
  box-shadow: 0px 0px 3px #887766;
  padding-bottom: 50px;
}

.board:nth-child(even) {
  background: #DDCCBB;
}

.board:nth-child(odd) {
  background: #EEDDCC;
}

.pure-menu {
  height: 2em;
  background-color: #ccab96;
}

.card ul.toolbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end
}

.card ul.toolbar li {
  visibility: hidden;
  flex: 1 0 1;
  margin: 0 5px;
  cursor: pointer;
}

.card:hover ul.toolbar li {
  visibility: visible;
}

.card textarea {
  margin-top: 1em;
  width: 100%;
  height: 24em;
}

.card .form .buttons {
  margin-top: 0.5em;
  display: flex;
  justify-content: flex-end;
}

.card .form .buttons a {
  margin-left: 0.5em;
}

a.new-card {
  display: block;
  color: #887766;
  margin-top: 1em;
  margin-left: 10px;
  text-decoration: none;
}

a.new-card:hover {
  text-decoration: underline;
}
